@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Indieground";
  src: url(../../public/assets/Font/INDIEGROUND.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
